<div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="user-info-wrapper">
        <div class="profile-wrapper">
            <img  alt="Avatar" ng-src="/static/img/profiles/avatar.jpg" width="69" height="69">
        </div>
        <div class="user-info">
            <div class="greeting">Welcome</div>
            <div class="username">John <span class="semi-bold">Smith</span></div>
            <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
        </div>
    </div>
    <!-- END MINI-PROFILE -->

    <!-- BEGIN SIDEBAR MENU -->
    <ul>
        <li class="start active "> <a ui-sref="employees"> <i class="icon-custom-home"></i> <span class="title">Employees</span> <span class="selected"></span></a> </li>
    </ul>
    <a href="#" class="scrollup" style="display: inline;">Scroll</a>
    <div class="clearfix"></div>
    <!-- END SIDEBAR MENU -->
</div>
